<% content_for(:body_class) { 'text-center' } %>

<%= simple_form_for(resource, as: resource_name,
                              url: registration_path(resource_name),
                              html: { class: 'new_user user-form' }) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>

  <%= f.input :email, label_html: { class: "sr-only" },
                      required: true,
                      autofocus: true,
                      autocomplete: "email" %>

  <%= f.input :password, label_html: { class: "sr-only" },
                         placeholder: "Password",
                         hint: "6 characters minimum",
                         required: true,
                         autocomplete: "new-password" %>

  <%= f.input :password_confirmation, label_html: { class: "sr-only" },
                                      placeholder: 'Password confirmation',
                                      required: true,
                                      autocomplete: "new-password" %>

  <%= f.button :submit, "Sign up", class: "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
