<% content_for(:body_class) { 'text-center' } %>

<%= form_for(resource, as: resource_name,
                       url: password_path(resource_name),
                       html: { method: :put, class: "new_user user-form" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <h1 class="h3 mb-3 font-weight-normal">Change your password</h1>

  <%= f.label :password, class: "sr-only" %>
  <%= f.password_field :password, class: "form-control",
                                  placeholder: "New password (6 characters minimum)",
                                  autofocus: true,
                                  autocomplete: "new-password" %>

  <%= f.label :password_confirmation, class: "sr-only" %>
  <%= f.password_field :password_confirmation, class: "form-control",
                                               placeholder: "Confirm new password",
                                               autocomplete: "new-password" %>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Change my password</button>
<% end %>

<%= render "devise/shared/links" %>
