<% content_for(:body_class) { 'text-center' } %>

<%= simple_form_for(resource, as: resource_name,
                              url: session_path(resource_name),
                              html: { class: 'new_user user-form' }) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

  <%= f.input :email, label_html: { class: "sr-only" },
                      placeholder: "you@example.com",
                      required: true,
                      autofocus: true,
                      autocomplete: "email" %>

  <%= f.input :password, label_html: { class: "sr-only" },
                         placeholder: "Password",
                         required: true,
                         autocomplete: "current-password" %>

  <% if devise_mapping.rememberable? %>
    <%= f.input :remember_me, as: :boolean, inline_label: "Remember me" %>
  <% end %>
  <%= f.button :submit, "Sign in", class: "btn btn-lg btn-primary btn-block" %>
<% end %>

<%= render "devise/shared/links" %>
