<h3><%= link_to('Reports', reports_path) %> &raquo; <%= @title %></h3>
<% if @results.any? %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th>Search term</th>
        <th>AdWords advertisers</th>
        <th>Total links</th>
        <th>Results</th>
        <th><%= SearchResult.human_attribute_name(:elapsed_time) %></th>
        <!--th><%# SearchResult.human_attribute_name(:html) %></th-->
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
      <tr>
        <td><%= result.term %></td>
        <td><%= result.count_adwords_advertisers %></td>
        <td><%= number_with_delimiter result.count_links %></td>
        <td><%= number_with_delimiter result.count_hits %></td>
        <td><%= result.elapsed_time %>s</td>
        <!--td><%# link_to 'Page', result.html %></td-->
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<p>There are no results to show.</p>
<% end %>
