<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : ENV['APP_NAME'] %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : ENV['APP_NAME'] %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body class="<%= yield(:body_class) %>">
    <%= render 'layouts/navigation' %>
    <main role="main" class="col-md-12">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
